/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #341cac;
  
}

.card {
  width: 260px;
  display: block;
  margin: 30px;
  box-shadow: 10px 5px 40px 20px #3120cf;
  transition: .25s;
}
.card:hover {
  box-shadow: 10px 5px 40px 20px #271580;
  cursor: pointer;
}
.card:hover .button-primary {
  transform: translate(10px, 0);
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: #341cac;
  font-size: 15px;
  transition: .25s;
}
.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.news-feed {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.input-container {
  position: relative;
  margin:3%;
  margin-top: 16%;
  
}

input {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

label {
  top: 0;
  left: 0; right: 0;
  color: #616161;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

input,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}

input:valid,
input:focus {
  border-bottom: 3px solid #26a69a;  
}

input:valid + label,
input:focus + label {
  color: #26a69a;
  font-size: .8rem;
  top: -30px;
  pointer-events: none;
}